#contact {
  margin-top: 300px;
  text-align: center;
}
#contact span {
  color: var(--purple);
  font-size: 1.25rem;
  line-height: 1.5;
  font-weight: 400;
}
#contact h2 {
  font-size: 3.75rem;
  line-height: 3.75rem;
  color: var(--white);
  font-weight: 400;
  letter-spacing: 2px;
}
#contact p {
  line-height: 1.625rem;
  letter-spacing: -1px;
  font-size: 1.5rem;
  max-width: 515px;
  font-weight: 400;
  margin: 25px auto 50px auto;
  color: var(--white50);
}
#contact > a {
  border: 1px solid var(--purple);
  display: inline-block;
  line-height: 1.25rem;
  text-decoration: none;
  color: var(--purple);
  padding: 15px 28px;
  border-radius: 4px;
  font-size: 1.25rem;
  transition: var(--timefast);
}
#contact > a:hover {
  background: var(--purple10);
}

.social_media {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.social_media svg {
  max-width: 20px;
  color: var(--white70);
  transition: var(--timefast);
}
.social_media a:hover svg {
  color: var(--purple);
}
@media (min-width: 1200px) {
  .section_indicator {
    display: flex;
    left: 40px;
    bottom: 50%;
    gap: 15px;
    position: fixed;
    flex-direction: column;
  }
  .section_indicator a {
    display: block;
    content: "";
    transition: var(--timefast);
    height: 12px;
    width: 12px;
    background: var(--purple10);
  }
  .section_indicator a.activeSection {
    background: var(--purple);
  }
  .social_media {
    position: absolute;
    bottom: 120px;
    left: 35px;
    flex-direction: column;
    position: fixed;
  }
  .social_media::after {
    content: "";
    position: absolute;
    height: 1px;
    left: -330%;
    transform: rotate(90deg);
    background: var(--white70);
    width: 150px;
    top: 140px;
  }
}
@media (max-width: 1200px) {
  .social_media {
    margin-top: 100px;
  }
}
