body {
  background: linear-gradient(243.03deg, #09192b 0.89%, #012146 101.1%);
}
body.blur {
  overflow: hidden;
}

body.blur .content {
  filter: blur(18px) brightness(0.7);
}
body::-webkit-scrollbar {
  width: 12px;
}
body::-webkit-scrollbar-track {
  background: hsla(212, 97%, 14%, 0.95);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--purple);
  border-radius: 20px;
  border: 2px solid hsla(212, 97%, 14%, 0.95);
}
