.footer a {
  margin: 200px 0 40px 0;
  text-decoration: none;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.github_status {
  margin: 15px 0 0 0;
  display: flex;
  gap: 20px;
}
.github_status span {
  display: flex;
  gap: 5px;
  align-items: center;
}
.footer svg {
  width: 14px;
  height: 14px;
}
